<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextName>poseidon</contextName>
    <property name="APP_NAME" value="poseidon" />

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="org.springframework" level="INFO" />
    <logger name="org.hibernate" level="INFO" />


    <!-- 日志记录器，日期滚动记录 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/${APP_NAME}_info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/${APP_NAME}_log-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>2MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d %p [%t] %c %msg %n</pattern>
        </encoder>
        <append>true</append>
    </appender>

    <root level="info">
        <appender-ref ref="FILE"/>
    </root>
</configuration>